@using MySpotify.Portal.Web.Components.Cards;
@using MySpotify.Portal.DataServices.Spotify.Api;
@using MySpotify.Portal.Models.ResponseModels;

<style>
    .content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
    }

    .badge-container {
        display: flex;
        justify-content: flex-end; /* Align the badge to the right */
    }
</style>

<MudCard Class="d-flex justify-center py-8 fancy-card">
    <CardHeader Title="My Top Picked Artists" Icon="@Icons.Material.Filled.People" />
    <MudCardContent class="small-pad">
        <MudList T="string" Class="large-pad">
            @foreach (var listItem in TopArtistsItems)
            {
                <MudListItem Class="small-pad">
                    <AvatarContent>
                        <MudAvatar>
                            <MudImage Src="@listItem.Images!.FirstOrDefault()!.Url" />
                        </MudAvatar>
                    </AvatarContent>
                    <ChildContent>
                        <MudGrid>
                            <MudItem xs="6">
                                <div class="content-wrapper">
                                    <MudLink Href="@listItem.ExternalUrls!.Spotify">
                                        <MudText Typo="Typo.subtitle1">
                                            @listItem.Name
                                        </MudText>
                                    </MudLink>
                                </div>
                            </MudItem>
                            <MudItem xs="6">
                                <div class="badge-container">
                                    <MudBadge Content="@listItem.Followers!.Total" Color="Color.Primary" Overlap="true" Class="mx-6 my-4">
                                        <MudText Typo="Typo.subtitle2">Followers</MudText>
                                    </MudBadge>
                                </div>
                            </MudItem>
                        </MudGrid>
                        <MudGrid>
                            <MudItem xs="6">
                                <MudText Typo="Typo.caption">
                                    @listItem.Genres!.FirstOrDefault()!.ToString()
                                </MudText>
                            </MudItem>
                        </MudGrid>
                    </ChildContent>
                </MudListItem>
            }
        </MudList>
    </MudCardContent>
</MudCard>

@code {
    [Parameter] public IEnumerable<Item> TopArtistsItems { get; set; } = null!;
}