@using MySpotify.Portal.Web.Components.Cards;
@using MySpotify.Portal.DataServices.Spotify.Api;
@using MySpotify.Portal.Models.ResponseModels;

<style>
    .list-item-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .avatar-container {
        margin-bottom: 8px; /* Adjust spacing between avatar and text as needed */
    }

    .text-content {
        display: flex;
        flex-direction: column;
    }
</style>

<MudCard Class="d-flex justify-center py-8 fancy-card">
    <CardHeader Title="My Top Picked Tracks" Icon="@Icons.Material.Filled.Audiotrack" />
    <MudCardContent class="small-pad">
        <MudList T="string" Class="large-pad">
            @foreach (var listItem in TopTracksItems)
            {
                <MudListItem Class="small-pad">
                    <div class="list-item-content">
                        <MudAvatar class="avatar-container">
                            <MudImage Src="@listItem.Album!.Images!.FirstOrDefault()!.Url" />
                        </MudAvatar>
                        <div class="text-content">
                            <MudLink Href="@listItem.ExternalUrls!.Spotify">
                                <MudText Typo="Typo.subtitle2">
                                    @listItem.Name
                                </MudText>
                            </MudLink>
                            <MudText Typo="Typo.caption">
                                @listItem.Artists!.FirstOrDefault()!.Name - @listItem.Album!.Name
                            </MudText>
                        </div>
                    </div>
                </MudListItem>
            }
        </MudList>
    </MudCardContent>
</MudCard>

@code {
    [Parameter] public IEnumerable<Item> TopTracksItems { get; set; } = null!;
}